---
title: About - Eleventy Photo Gallery Template
meta_desc: A page about John Smith, and photography. This template is currently the default version so add your own about me page info here.
url: https://eleventy-gallery.netlify.app/about
img: /images/highway-water-large.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
eleventyNavigation:
  key: About
  order: 2
heading: About
permalink: "/about/"
layout: main.njk
---

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <p>Hi, I'm {{ site.author.firstName }} {{ site.author.lastName}}. I'm a musician, try <a href="mailto:{{ site.author.email }}">sending me an email</a>.</p>
  <p>Some more info</p>
  <p>You can find me around the web at the following places:</p>

  <ul class="about-socials">
    {% for key, value in site.socials %}
      <li><a href="{{ value }}">{{ key | title }}</a></li>
    {% endfor %}
  </ul>
</div>