---
eleventyNavigation:
  key: Home
  order: 0
heading: News
description: The latest public news surrounding my career
layout: main.njk
title: Danny Bédard
meta_desc: The latest public news surrounding my career
url: https://dannybedard.netlify.app
img: /images/highway-water.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
---

<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
</div>

{% include "partials/home-gallery.njk" %}