<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <p>&copy; {% getYear %} {{ site.author.firstName }} {{ site.author.lastName }}.</p>
            <ul class="footer-links">
                <li class="footer-link"><a href="{{ site.socials.Facebook }}">Facebook</a></li>
                <li class="footer-link"><a href="{{ site.socials.Instagram }}">Instagram</a></li>
                <li class="footer-link"><a href="{{ site.socials.TikTok }}">TikTok</a></li>
                <li class="footer-link"><a href="{{ site.socials.Linkedin }}">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</footer>