<div class="gallery">
  <ul class="image-grid">
    {% for post in posts %}
    <li class="image-container">
        <a href="/gallery/{{ post.title | slug }}" aria-label="Gallery image {{ post.title }}">{{ post.title }}
            {% respimg 
                src=post.src,
                alt=post.alt,
                inputDir="./src",
                imgDir=post.imgDir,
                widths=[320, 480, 640, 1024],
                sizes="(min-width: 600px) 50vw, (min-width: 800px) 100vw, 33.3vw",
                className="grid-image",
                width=640,
                height=400
            %}
        </a>
    </li>
    {% endfor %}
  </ul>
</div>